/*Main*/
.main_archor_pane {
    -fx-background-image: url('/resources/img/mainmenu/img_mainmenu_bg.png');
}

.main_btn {
    -fx-background-image: url('/resources/img/mainmenu/img_mainmenu_btn.png');
    -fx-background-color: transparent;
    -fx-background-repeat: no-repeat;
}